:host {
  display: block;
  margin-bottom: 10px;
}

.placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;

  &:hover {
    .add, .delete {
      display: block;
    }
  }
}

.add, .delete {
  font-size: 32px;
  cursor: pointer;
  display: none;
}
